body{
min-height: 100%;

}

html {
  min-height: 100%;
}

#rootContainer {
  background-image: url('../../build/images/wood-back.png');
}

md-card {
 width:90%;
 border-radius: 20px !important;
 border-bottom-left-radius: 60px !important;
 background-color: #e0dbce !important;
}

#addKegButton{
  background-color: red;
}

#addKegForm{

}

md-card.editKegForm.mat-card {
  padding:0px;
  padding-top: 10px;
}

.editKegForm .input-field {
  margin:0px;
}

.editKegForm .range-field {
  margin:0px;
  margin-top: 25px;
}

.add-keg{
  background-color: transparent;
}

.mat-sidenav.mat-sidenav-push{
  background: transparent;
}

.collapsible-body {
  background-color: white !important;
}


.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.pourSizeDisplay{
  font-size: 16px;
}
