

#rootContainer {
  background-image: url('../../build/images/wood-back.png');
}

md-card {
 width:90%;
 border-radius: 20px !important;
 border-bottom-left-radius: 60px !important;
 background-color: #e0dbce !important;

}

.mat-figure{

}

.pourSizeDisplay{
  font-size: 16px;
}
